<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hsuf" type="LdNet.ClientCore.Configuration.ConfigSection, LdNet.ClientCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LdNet.ClientF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="HSUF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <hsuf xmlns="urn:LdNet.ClientCore.Configuration">
    <objectContainer provider="LdNet.ClientCore.ObjectContainers.CastleAdapter.CastleContainer, LdNet.ClientCore" defaultLifeStyle="Transient" hasInterceptor="true" />
  </hsuf>
  <appSettings>
    <!--存在插件的相对目录-->
    <add key="PluginDir" value="Plugins" />
    <!--CEF的环境变量-->
    <add key="CefLibDir" value="HSUCF\Cef" />
    <!--记录到磁盘的最低日志级别，数值(参考HSLogLevel枚举); 默认2/Warn-->
    <add key="MinIoLogLevel" value="2" />
    <!--日志单个文件最大容量，如超出容量将分出新的文件。容量单位：MB  精度：double-->
    <add key="LogSplitSize" value="10" />
    <!--自动升级程序所在服务器ID和端号，add by lichuanlang 2015.09.28-->
    <!--<add key="ServersIpPort" value="192.168.75.55:8001" />-->
    <!--服务器IP地址，add by lichuanlang 2015.09.28-->
    <!--<add key="Servers_IP" value="192.168.75.55" />-->
    <add key="SubSystemNo" value="1016" />
    <!--系统配置目录-->
    <add key="ConfigRoot" value="Config" />
    <add key="t2sdk" value="Config\t2sdk.ini" />
    <add key="TenaCompanyId" value="91032" />
    <add key="SystemName" value="经纪业务运营平台3.0" />
    <!--业务系统的入口点，各业务系统在此做系统的初始化工作,格式：{程序集文件名称;执行的类名}-->
    <add key="BizAssemblyEntry" value="LdNet.ClientCore.dll;LdNet.ClientCore.Domain.AssemblyEntry" />
    <!--PBOX.Domain.dll;PBOX.Domain.AssemblyEntry-->
    <!--平台设置,目前支持UF2.0和UF3.0两种平台， 针对UF2填UF2.0 针对UF3.0填UF3-->
    <add key="Platform" value="UF2" />
    <add key="IsRunDelphiApp" value="false" />
    <!--菜单默认显示状态：显示或隐藏-->
    <add key="IsDefaultShowMenu" value="false" />
    <!--内嵌web页面的站点Url,目前不支持多站点-->
    <add key="BaseUrlSys" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <!--动态库引用路径-->
      <probing privatePath="Libs;HSUF;HSUF\Plugins;HSUF;HSUCF\T2;HSUCF\Frame;HSUCF\Cef;" />
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <LdNet.ClientF.Properties.Settings>
      <setting name="CurrentLanguageType" serializeAs="String">
        <value>zh-CHS</value>
      </setting>
    </LdNet.ClientF.Properties.Settings>
    <HSUF.Properties.Settings>
      <setting name="HSRCP_Path" serializeAs="String">
        <value />
      </setting>
    </HSUF.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>